# NEXT_PUBLIC_BASE_PATH=...

NEXT_PUBLIC_CONVEX_SELF_HOSTED_URL=...

NEXT_PUBLIC_COGNITO_USER_POOL_ID=...

NEXT_PUBLIC_COGNITO_CLIENT_ID=...

NEXT_PUBLIC_AWS_REGION=...

# At Convex:
COGNITO_DOMAIN=...

COGNITO_CLIENT_ID=...
